.git
.github
.vscode
node_modules
vendor
/public/build
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
database/*.sqlite
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
package-lock.json
tests
README.md
